$card-color: #2e2d2d;

@media screen and (max-width: 800px) {
    .estate-list {
        width: 100%;
        margin: .5rem 0;

        .list-item {
            width: 3rem;
            height: 3rem;

            p {
                overflow: hidden;
                max-height: 3em;
            }
        }
    }
}
@media screen and (max-width: 1000px) {
            p {
                overflow: hidden;
                max-height: 5em;
            }
}
.estate-list {
    max-height: 40vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 80vw;
    margin: .5rem auto;

    .list-item {
            font-size: .5rem;
            width: 8vw;
            height: 8vh;
            margin: .2rem;
            $card-color: #2e2d2d;

            img {
                width: 6.5rem;
                height: 4rem;
                max-width: 8vw;
                padding: .2rem;
                margin: auto;
                cursor: pointer;  
            }

            img:hover {
                transition: .5s ease;
                opacity: 0.3;
                transform: translate(-5%, -5%);
                -ms-transform: translate(-5%, -5%);
            }
    }
}
