// $font: Arial;
// $font-size: 1em;

.estates {
    display:flex;
    justify-content: center;
    padding: auto;

    .estate-card {
        display: block;
        border-radius: .25rem;
        border: .05em solid lightslategray;
        margin: .5em;
        width: 20em;

        img {
            margin: .5em;
            height: 12em;
        }
        .estate__name {
            font-weight: lighter;
        }
        p {
            border: .05em solid rgba(112, 103, 105, .5);
            font-weight: bold;
            // font-size: $font-size;

        }
        .textalign--right {
            float:right;
            font-weight: lighter;
        }
    }
}