* {
    margin: 0;
    box-sizing: border-box;
}

.estate-list {
    
    max-height: 30vh;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: .25rem;

    .estate-details {
        cursor: pointer;
    }

    .estate-list__img {
        width: 6.5rem;
        height: 4rem;
        max-width: 8vw;
        margin: .2rem;
    }

    .company__logo img {
        width: 3em;
    }

    .estate-list__img:hover {
        box-shadow: 2px 2px 2px solid gray;
    }

    div {
        list-style-type: none;
        font-size: .5rem;
        max-width: 8vw;
        margin: .2rem;
    }


}
